# Capítulo 5. Otros tipos

Una de las palabras reservadas que nos permite crear objetos vacíos es **None**.

## Diccionarios:

Los diccionarios son listas no ordenadas de datos a los cuales les podemos asignar un identificador.

In [4]:
x = {}
print(x)

{}

In [5]:
type(x)

dict

In [6]:
x = {1: 'Fer', 2: 'Jim', 3: 25}
print(x)

{1: 'Fer', 2: 'Jim', 3: 25}

In [7]:
x[3]

25

In [8]:
x[3] = 20

In [9]:
print(x)

{1: 'Fer', 2: 'Jim', 3: 20}

In [10]:
# imprimimos solo las llaves
for i in x: print(i)

1
2
3

**Ejercicio:**

Imprimir los valores.

In [11]:
for i in x: print(x[i])

Fer
Jim
20

In [12]:
x = {'Nombre': 'Fer', 'Apellido':'Jim','Edad':25}
print(x)

{'Nombre': 'Fer', 'Apellido': 'Jim', 'Edad': 25}

In [13]:
x['Edad']

25

In [14]:
x = dict([('Nombre','Fer'),('Apellido','Jim'),('Edad',25)])
print(x)

{'Nombre': 'Fer', 'Apellido': 'Jim', 'Edad': 25}

In [15]:
x = dict(Nombre = 'Fer', Apellido = 'Jim', Edad = 25)
print(x)

{'Nombre': 'Fer', 'Apellido': 'Jim', 'Edad': 25}

In [16]:
len(x)

3

In [17]:
x.keys()

dict_keys(['Nombre', 'Apellido', 'Edad'])

In [18]:
sorted(x)

['Apellido', 'Edad', 'Nombre']

In [19]:
x.values()

dict_values(['Fer', 'Jim', 25])

In [20]:
for i in x.values():
    print(i)

Fer
Jim
25

In [21]:
x.get('Edad')

25

In [22]:
x.items()

dict_items([('Nombre', 'Fer'), ('Apellido', 'Jim'), ('Edad', 25)])

In [23]:
for i,j in x.items():
    print(i,":",j)

Nombre : Fer
Apellido : Jim
Edad : 25

In [24]:
if 'Edad' in x:
    print('El diccionario cuenta con el parametro "Edad" ')
else:
    print('El diccionario no tiene agregado el parametro "Edad" ')

El diccionario cuenta con el parametro "Edad"

In [25]:
aux = x.copy()
print(aux)

{'Nombre': 'Fer', 'Apellido': 'Jim', 'Edad': 25}

In [26]:
aux2 = dict(aux)
print(aux2)

{'Nombre': 'Fer', 'Apellido': 'Jim', 'Edad': 25}

In [27]:
x['Genero'] = 'M'
print(x)

{'Nombre': 'Fer', 'Apellido': 'Jim', 'Edad': 25, 'Genero': 'M'}

In [28]:
x.pop('Edad')

25

In [29]:
print(x)

{'Nombre': 'Fer', 'Apellido': 'Jim', 'Genero': 'M'}

In [30]:
x.popitem()

('Genero', 'M')

In [31]:
print(x)

{'Nombre': 'Fer', 'Apellido': 'Jim'}

In [32]:
del x['Nombre'] # del puede usarse para eliminar todo el diccionario
print(x)

{'Apellido': 'Jim'}

In [33]:
x.clear()

In [34]:
print(x)

{}

In [35]:
del x
print(x)

NameError: name 'x' is not defined

In [36]:
x = dict.fromkeys(aux.keys())
print(x)

{'Nombre': None, 'Apellido': None, 'Edad': None}

In [37]:
x = dict.fromkeys(aux.keys(),0)
print(x)

{'Nombre': 0, 'Apellido': 0, 'Edad': 0}

In [38]:
y = x.setdefault('Edad',18)
print(y)

0

In [39]:
y = x.setdefault('Genero','M')
print(y)

M

In [40]:
print(x)

{'Nombre': 0, 'Apellido': 0, 'Edad': 0, 'Genero': 'M'}

In [41]:
aux2

{'Nombre': 'Fer', 'Apellido': 'Jim', 'Edad': 25}

In [42]:
aux2.update({'Genero':'M'})

In [43]:
print(aux2)

{'Nombre': 'Fer', 'Apellido': 'Jim', 'Edad': 25, 'Genero': 'M'}

In [44]:
# diccionarios anidados
Curso_A = {
  "estudiante1" : {
    "Nombre" : "Fer",
    "Nota" : 10
  },
  "estudiante2" : {
    "Nombre" : "Katy",
    "Nota" : 9
  },
  "estudiante3" : {
    "Nombre" : "Cris",
    "Nota" : 8
  }
}

In [45]:
print(Curso_A)

{'estudiante1': {'Nombre': 'Fer', 'Nota': 10}, 'estudiante2': {'Nombre': 'Katy', 'Nota': 9}, 'estudiante3': {'Nombre': 'Cris', 'Nota': 8}}

In [46]:
x = {"Nombre" : "Fer", "Nota" : 10 }
y = {"Nombre" : "Katy", "Nota" : 9 }
z = {"Nombre" : "Cris", "Nota" : 8 }
Curso_A = {
  "estudiante1" : x,
  "estudiante2" : y,
  "estudiante3" : z
}

In [47]:
print(Curso_A)

{'estudiante1': {'Nombre': 'Fer', 'Nota': 10}, 'estudiante2': {'Nombre': 'Katy', 'Nota': 9}, 'estudiante3': {'Nombre': 'Cris', 'Nota': 8}}

**Ejercicio:**

1. Crear un diccionario con la informacion de sus padres (Nombre,Edad,Genero).
2. Agregar la informacion suya (Nombre,Edad,Genero).
3. Visualizar la informacion la informacion en una tabla

In [48]:
# 1. Crear diccionario
papa = {'Nombre':'Papa','Edad':100,'Genero':'M'}
mama = dict( [('Nombre', 'Mama'),('Edad', 50), ('Genero' , 'F')] )
familia = dict(padre = papa, madre = mama)

In [49]:
print(familia)

{'padre': {'Nombre': 'Papa', 'Edad': 100, 'Genero': 'M'}, 'madre': {'Nombre': 'Mama', 'Edad': 50, 'Genero': 'F'}}

In [50]:
# 2. Agregar la info
me = dict(Nombre = 'Fer',Edad = 25, Genero = 'M')
familia.update(hijo = me)

In [51]:
print(familia)

{'padre': {'Nombre': 'Papa', 'Edad': 100, 'Genero': 'M'}, 'madre': {'Nombre': 'Mama', 'Edad': 50, 'Genero': 'F'}, 'hijo': {'Nombre': 'Fer', 'Edad': 25, 'Genero': 'M'}}

In [52]:
# 3. Visualizacion
print('{:<7} {:<7} {:<5} {:<7}'.format('','Nombre','Edad', 'Genero'))
for miembro, detalle in familia.items():
    print('{:<7}'.format(miembro),end = ' ')
    i = 1
    for v in detalle.values(): 
        print('{:<7}'.format(v), end = ' ')
        i += 1
        if i > len(detalle):
            print(end = '\n')

        Nombre  Edad  Genero
padre   Papa    100     M
madre   Mama    50      F
hijo    Fer     25      M

In [53]:
import pandas as pd
df = pd.DataFrame(familia)
print(df)

       padre madre hijo
Nombre  Papa  Mama  Fer
Edad     100    50   25
Genero     M     F    M

In [54]:
df2 = pd.DataFrame(familia).transpose()
print(df2)

      Nombre Edad Genero
padre   Papa  100      M
madre   Mama   50      F
hijo     Fer   25      M

## Tuplas:

Colección ordenada de elementos. Sus elementos no se pueden modificar.

In [55]:
manzana = ('roja', 'verde')

In [57]:
type(manzana)

tuple

In [56]:
print(manzana)

('roja', 'verde')

In [58]:
manzana[-1]

'verde'

In [59]:
manzana[-2]

'roja'

In [60]:
manzana[1]

'verde'

In [81]:
gatos = ('Persan','British shorthair','Maine coon','Siamois','American shorthair','Ragdoll','Sphynx','Bobtail japonais')

In [82]:
len(gatos)

8

In [83]:
sorted(gatos)

['American shorthair',
 'Bobtail japonais',
 'British shorthair',
 'Maine coon',
 'Persan',
 'Ragdoll',
 'Siamois',
 'Sphynx']

In [84]:
gatos

('Persan',
 'British shorthair',
 'Maine coon',
 'Siamois',
 'American shorthair',
 'Ragdoll',
 'Sphynx',
 'Bobtail japonais')

In [85]:
# Peligro !!! el indice 7 no esta incluido
gatos[3:7]

('Siamois', 'American shorthair', 'Ragdoll', 'Sphynx')

In [86]:
gatos[-4:-1]

('American shorthair', 'Ragdoll', 'Sphynx')

In [87]:
gatos[-4:]

('American shorthair', 'Ragdoll', 'Sphynx', 'Bobtail japonais')

In [88]:
# invertir el orden
gatos[::-1]

('Bobtail japonais',
 'Sphynx',
 'Ragdoll',
 'American shorthair',
 'Siamois',
 'Maine coon',
 'British shorthair',
 'Persan')

Podemos modificar una tupla...????

In [89]:
gatos[0] = 'Norvegien'

TypeError: 'tuple' object does not support item assignment

In [90]:
y = list(gatos)
y[0] = 'Norvegien'
gatos = tuple(y)

In [91]:
gatos[0]

'Norvegien'

In [92]:
print(gatos)

('Norvegien', 'British shorthair', 'Maine coon', 'Siamois', 'American shorthair', 'Ragdoll', 'Sphynx', 'Bobtail japonais')

In [93]:
for x in gatos: print(x)

Norvegien
British shorthair
Maine coon
Siamois
American shorthair
Ragdoll
Sphynx
Bobtail japonais

**Ejercicio:**

Imprimir la lista de gatos ordenados z-a

In [94]:
for x in sorted(gatos)[::-1]: print(x)

Sphynx
Siamois
Ragdoll
Norvegien
Maine coon
British shorthair
Bobtail japonais
American shorthair

In [95]:
# busquemos un elemento en la tupla
print('Sip... :3') if 'Persan' in gatos else print('Nop... :c')

Nop... :c

In [96]:
# agregar un nuevo elemento
gatos[8] = 'Persan'

TypeError: 'tuple' object does not support item assignment

**Ejercicio:**

Como lo haría...???

In [97]:
aux = list(gatos)
aux.append('Persan')
gatos = tuple(aux)

In [98]:
gatos

('Norvegien',
 'British shorthair',
 'Maine coon',
 'Siamois',
 'American shorthair',
 'Ragdoll',
 'Sphynx',
 'Bobtail japonais',
 'Persan')

In [99]:
gatos[-1]

'Persan'

In [100]:
# Tupla con un elemento
papas = ('fritas')
type(papas)

str

In [101]:
papas = ('fritas',)
type(papas)

tuple

In [102]:
papas

('fritas',)

In [103]:
del papas

In [104]:
print(papas)

NameError: name 'papas' is not defined

In [105]:
naranja = ('tomate','verde')

In [106]:
manzana

('roja', 'verde')

In [107]:
suma = naranja + manzana
print(suma)

('tomate', 'verde', 'roja', 'verde')

In [108]:
naranja = tuple(('tomate','verde'))

In [109]:
naranja

('tomate', 'verde')

In [110]:
suma.count('verde')

2

In [111]:
suma.index('verde')

1

In [112]:
manzana = 'roja', 'verde'

In [113]:
type(manzana)

tuple

In [114]:
print(manzana)

('roja', 'verde')

In [115]:
x,y = manzana

In [116]:
print('x:',x,'\ny:',y)

x: roja
y: verde

**Ejercicio:**

Crear una tabla con identificador numerico para los gatos:

|ID|Gato|
|--|----|
|1|Norvegien|
|2|British shorthair|
|...|...|

In [117]:
# codigo aqui....
print('{:<2} {:<}'.format('ID','Gato'))
for i in range(len(gatos)): print('{:<2} {}'.format(i+1,gatos[i]))

ID Gato
1  Norvegien
2  British shorthair
3  Maine coon
4  Siamois
5  American shorthair
6  Ragdoll
7  Sphynx
8  Bobtail japonais
9  Persan

In [118]:
# codigo aqui...
print('{:<2} {:<}'.format('ID','Gato'))
for i,j in enumerate(gatos): print('{:<2} {}'.format(i+1,j))

ID Gato
1  Norvegien
2  British shorthair
3  Maine coon
4  Siamois
5  American shorthair
6  Ragdoll
7  Sphynx
8  Bobtail japonais
9  Persan

In [119]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=2147483647, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [120]:
manzana.__add__(manzana)

('roja', 'verde', 'roja', 'verde')

### Deber (Conjuntos):

1. Crear un diccionario con los productos de comida rapida que consume (minimo tres).
2. La informacion de cada producto debe ser su nombre, el valor y la frecuencia de compra en una semana.
3. Agregar tres productos al diccionario de alimentos que no consume en la semana.
4. Generar una tabla con los 6 productos.
5. Generar dos tablas, una con productos que prefiere y otra con los que no.
6. Utilizando la función que creó para generar una factura. Realice una compra ficticia de 4 productos usando los diccionarios e imprima su resultado en una tabla.

### Deber (Tuplas):
1. Crear una tupla anidada con tres alimentes preferidos y el valor.
2. Visualizarlos en una tabla.